In [53]:
import pandas as pd
import pickle
import re
from collections import defaultdict

In [131]:
census_blocks_df = pd.read_csv('../data/block_shapes/CensusBlockTIGER2010.csv')

census_blocks_df.shape

(46357, 8)

In [128]:
census_blocks_df[census_blocks.NAME10=='Block 2010'].the_geom[0]

'MULTIPOLYGON (((-87.6290679994106 41.769086000071525, -87.6290529997898 41.7688739999653, -87.62900799929758 41.76726800005111, -87.62949800027731 41.76725900029384, -87.62982000079478 41.76725400012672, -87.62985200001118 41.76839999946078, -87.62986200062038 41.7688819996305, -87.62985900013145 41.76908200019735, -87.62969199933941 41.76908500030279, -87.6290679994106 41.769086000071525)))'

In [115]:
(census_blocks_df)
# census_blocks_df.shape
census_blocks.TRACT_BLOC.count()

46357

In [18]:
block_dict = {}
for index, row in census_blocks_df.iterrows():
    block_coord = row['the_geom'].split(" ")
    lat_pat = re.compile('[^-\d][\d]+[.][\d]+')
    lats = lat_pat.findall(str(block_coord))
    long_pat = re.compile('[-][\d]+[.][\d]+')
    longs = long_pat.findall(str(block_coord))
    float_lats = [float(x[1:]) for x in lats]
    avg_lat = sum(float_lats)/len(float_lats)
    float_longs = [float(x) for x in longs]
    avg_long = sum(float_longs)/len(float_longs)

    block_dict[row['NAME10']] = [avg_lat, avg_long]

In [99]:
len(block_dict)

651

## Coffee Shops

In [111]:
import math

In [76]:
with open('../data/yelp/yelp_coffee_shop_dict.pk', 'rb') as read_file:
    coffee_shops = pickle.load(read_file)

In [77]:
block_ex = block_dict['Block 4007']
shop_ex = coffee_shops['f5p7scO1Q9UdaGbYe9bjFg']

In [78]:
block_coffee_dict = defaultdict(int)
for key_b, value_b in block_dict.items():
    for key_c, value_c in coffee_shops.items():
        lat_block = value_b[0]
        lon_block = value_b[1]
        lat_shop = value_c[2]
        lon_shop = value_c[3]
        dist = math.sqrt((lat_block -lat_shop)**2 + (lon_block - lon_shop)**2)
        if dist < .035:
            block_coffee_dict[key_b] += 1

In [98]:
#Here are the coffeeshops within a 2 mile radius of each block
len(block_coffee_dict)

514

In [51]:
dist = math.sqrt((41.963673-41.964346)**2 + (-87.786847 - -87.751445)**2)

In [52]:
dist

0.03540839636300031

lat_long distance of .035 is about 2 miles

## Businesses

In [59]:
df_businesses = pd.read_csv('../data/Business_Licenses_-_Current_Active.csv')

In [129]:
df_businesses.shape

(61799, 34)

In [69]:
business_dict = {}
for i,row in df_businesses.iterrows():
    business_dict[row['LICENSE ID']] = [row.LATITUDE, row.LONGITUDE]

In [132]:
len(business_dict)

61799

In [80]:
block_bus_dict = defaultdict(int)
for key_b, value_b in block_dict.items():
    for key_bus, value_bus in business_dict.items():
        lat_block = value_b[0]
        lon_block = value_b[1]
        lat_bus = value_bus[0]
        lon_bus = value_bus[1]
        dist = math.sqrt((lat_block -lat_bus)**2 + (lon_block - lon_bus)**2)
        if dist < .035:
            block_bus_dict[key_b] += 1

In [97]:
len(block_bus_dict)

651

## Merge coffee shop count and business count

In [83]:
block_bus_df = pd.DataFrame.from_dict(block_bus_dict, orient='index')

In [89]:
block_bus_df.rename(columns = {0:'business_count'}, inplace=True)

In [92]:
block_coffee_df = pd.DataFrame.from_dict(block_coffee_dict, orient='index')
block_coffee_df.rename(columns = {0:'coffeeshop_count'}, inplace=True)

In [94]:
df_block_bus = pd.merge(block_coffee_df, block_bus_df, left_index=True, right_index=True)

In [130]:
df_block_bus

            coffeeshop_count  business_count
Block 2010                21            2334
Block 3007                 5            1679
Block 3013               113            5602
Block 4019                 6             861
Block 4016                27            2671
Block 4000                14            2058
Block 2003               140            5647
Block 2002                24            2633
Block 3019                 7            1611
Block 3005                91            5297
Block 3021                 6            1577
Block 1034                 5            2923
Block 2042                 3            1637
Block 1020                19            1981
Block 1021                27            1694
Block 1049                11            1459
Block 4007                19            2610
Block 4011                 7             571
Block 3008                 8            2903
Block 1022                63            5419
Block 1012               104            5507
Block 4013                30            4205
Block 3010                13            2184
Block 1001                60            4191
Block 1032                10            1261
Block 1017               163            7019
Block 2019                51            4863
Block 6010                16            3675
Block 1002               348           14991
Block 3025                27            1236
...                      ...             ...
Block 4088                77            5125
Block 4099                48            4091
Block 4101                55            4365
Block 3059                 2            1033
Block 4092                75            5004
Block 1108               238           10698
Block 5050                 2             776
Block 5049                 3             777
Block 3057                38            2877
Block 4091                87            5362
Block 4077                84            4149
Block 4080               132            5779
Block 5051                 2             772
Block 6037                16            3264
Block 1104               335           14136
Block 4100                41            3880
Block 4095                63            4695
Block 5044                 3             792
Block 4090                89            5425
Block 2200                 2             547
Block 2199                 2             550
Block 4103                65            4717
Block 4094                65            4779
Block 4105                44            4007
Block 4106                76            4994
Block 3060                 5            1149
Block 4102                59            4440
Block 4097                50            4210
Block 4107                59            4349
Block 5047                 3             785

[514 rows x 2 columns]